.App {
  text-align: center;
  background: #F6EBCF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 4rem;
  padding-top: 1%;
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  color: #AE5100;
}

h3 {
  color: #AE5100;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.4rem;
}

h4 {
  color: #AE5100;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  padding-top: 5%;
  padding-bottom: 3%;
}

a {
  color: #AE5100;
  text-decoration: none;
  font-size: .8rem;
}

a:hover {
  color: #503500;
}

address {
  color: #503500;
  font-size: .8rem;
}

.ui.input>input:focus {
  color: #503500;
  border-color: #AE5100;
}

.ui.placeholder.segment {
  min-height: 0;
  padding-bottom: 0;
  margin-top: 0;
  background: white;
}

.ui[class*="very relaxed"].grid>.column:not(.row) {
  width: 35%;
}

.ui.grid>.column+.divider {
  left: 50%;
  color: #AE5100;
}

.ui.grid {
  display: flex;
  justify-content: space-evenly;
}

.ui.grid>.column:not(.row) {
  padding-top: 0;
  margin: 2%;
}

.ui.card>.image {
  background: none;
  padding: 5%;
}

.ui.card>.image>img {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.header_img {
  width: 3%;
}